* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	padding: 0 5%;
}

@mixin color-underline($length) {
	position: absolute;
	content: "";
	height: 5px;
	width: $length;
	background: linear-gradient(to right, purple, hotpink);
	bottom: -0.2rem;
	left: 50%;
	transform: translateX(-50%);
}
