.card {
	border-radius: 0.5rem;
	box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: 0.1);
	margin: 2rem 0;
	padding: 1rem;

	.card-title {
		text-align: center;
		color: grey;
		font-weight: 300;
		position: relative;
		margin-bottom: 2rem;

		&::after {
			position: absolute;
			content: "";
			height: 5px;
			width: 8rem;
			background: orange;
			bottom: -0.2rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	ul {
		list-style: none;

		.question-item {
			margin: 1rem 0;
			color: grey;

			.row {
				display: flex;
				justify-content: space-between;
			}

			.question {
				width: 80%;
			}
		}
	}
}
