.nav {
	.links {
		.item {
			display: block;
			text-align: center;
			font-size: 2rem;
			font-weight: 500;
			position: relative;
			margin-bottom: 3rem;

			&::after {
				@include color-underline(10rem);
			}
		}
	}
}
